body {
    text-align: center;
}

.menu {
    cursor: pointer;
    top: 10px;
    right: 10px;
    list-style: none;
    position: fixed;
    display: inline;
}

.links {
    font-family: cursive;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    float: left;
}

#contact iframe {
    width: 100%;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey
}

.travel_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.travel_mainDiv img {
    width: 100%;
}

.travel_mainDiv hr {
    width: 230px;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}


.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}
